body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}
input , button ,li, ul , a ,h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    outline: none;
} 

.nav-main{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
    width: 100vw !important;
    height: 100px !important;
    
}
.nav-toggle-box{
    transform: translateY(-600px); /* Start hidden above */
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
    position: absolute;
    z-index: 40;
    height: 40vh;
    width: 100vw !important;
    top: 50;
    left: 0;
    right: 0;
    background-color: #fff;
    gap: 20px;
}
.nav-toggle-box.active {
    transform: translateY(0px);
    position: absolute;
    z-index: 50;
    height: 40vh;
    width: 100vw !important;
    top: 50;
    left: 0;
    right: 0;
    background-color: #fff;
    gap: 20px;
}



.nav-toggle-box-menu{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.nav-toggle-box-menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.nav-toggle-box-menu ul li{
    position: relative;
    color: black;
    padding: 0 10px;
}
.nav-toggle-box-btn-main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    margin-top: 40px;
}
.nav-toggle-btn-login{
    display: block;
    border:  1px solid #03a9fc;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: #03a9fc;
    padding: 8px 10px;
    font-size: 18px;
    font-weight:100; 
    background-color: #fff;
}
.nav-toggle-btn-register{
    display: block;
    border:  1px solid #03a9fc;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: #fff;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 100; 
    background-color:#03a9fc ; 
}
.nav-containter{
    max-width: 1800px !important;
    padding: 24px 20px !important;
    margin: 0 auto;
    z-index: 1000;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}
.menu{
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5;
}
.menu ul li{
    position: relative;
    color: black;
    padding: 0 10px;
}
a{
    list-style: none !important;
    text-decoration: none !important;
    color: black;

}
.btn-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 14px;
}
.btn-login{
    display: block;
    border:  1px solid #03a9fc;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: #03a9fc;
    padding: 8px 10px;
    font-size: 18px;
    font-weight:100; 
    background-color: #fff;
}

.btn-register{
    display: block;
    border:  1px solid #03a9fc;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: #fff;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 100; 
    background-color:#03a9fc ;
}
.btn-toggle{
    display: none !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    border: none !important;
    cursor: pointer;
}
.btn-toggle div{
    background-color: #000;
    height: 2px;
    width: 20px;
    margin: 4px 0px;
}
.hero-bg-images{
    margin-top: 100px;
    width: 100vw !important;
    background-image: url("../assests/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;

}
.hero-section{
    width: 100%;
    height: 100%;
    background-color: rgba(42, 42, 43, 0.565) !important;;
}
.hero-text{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-hero{

    border:  1px solid #03a9fc;
    margin-top: 20px;
    height: 56px;
    width: 200px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 100; 
    background-color:#03a9fc ;
}
.Features{

  width: 100vw;
  margin: 0 auto;

}
.features-container{
    max-width: 1800px !important;
    padding: 60px 80px !important;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
}
.features-container-h1{
    max-width: 600px;
    margin: 20px 0px;
    font-size: 45px;
    font-weight: 500;
    color: black;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.feature-card-container{
    width: 100;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 70px;
    margin: 40px 0px;
}
.feature-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

}
.feature-card p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(108, 106, 106);
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.btn-feature{
    border:  1px solid #03a9fc;
    height: 40px;
    width: 140px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300; 
    background-color:#03a9fc ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Social-media{
    width: 100vw;
  margin: 0 auto;  
}
.Social-media-container{
    max-width: 1800px !important;
    padding: 60px 80px !important;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px; 
}
.Social-media-container-h1{
   width: 100%;
   text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: black;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.Social-media-container-h2{
    width: 80%;
    margin: 0px auto;
    text-align: center;
     font-size: 35px;
     font-weight: 200;
     color: rgba(20, 20, 21, 0.822) !important;
     font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
 }
.Social-media-card-container{
    width: 100;
    height: fit-content;
   display: flex;
   justify-content: center;
   flex-direction: row;
    align-items: center;
    padding-top: 100px;
    gap: 100px;  
}
.Social-media-card-container-left{
    width: 40%;
    display: flex;
    justify-content: center;
flex-direction: column;
    align-items: center;
    flex-direction: column;
}
.Social-media-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;  
}
.Social-media-card p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(108, 106, 106);
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Social-media-card-container-right{
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;

}
.Social-media-card-container-right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.community{
    width: 100vw;
  margin: 0 auto;  
}
.community-container{
    max-width: 1800px !important;
    padding: 20px 10px !important;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px; 
}
.community-container-h1{
   width: 100%;
   text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: black;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.community-container-h2{
    width: 80%;
    margin: 0px auto;
    text-align: center;
     font-size: 35px;
     font-weight: 200;
     color: rgba(20, 20, 21, 0.822) !important;
     font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
 }
.community-card-container{
    max-width: 1200px;
    margin: 0px auto;
    height: fit-content;
   display: grid;
   justify-content: center;
   grid-template-columns: auto auto auto;
    align-items: center;
    padding-top: 100px;
    gap: 20px;  
}
.community-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;  
    border: 1px solid black !important;
    border-top: 0px solid black !important;
}
.community-card-content{
    padding: 20px;
   
    margin: 0%;
}
.community-card-content p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(108, 106, 106);
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.community-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}



.contact{
    width: 100vw;
  margin: 0 auto;  
}
.contact-container{
    max-width: 1800px !important;
    padding: 60px 80px !important;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px; 
}
.contact-container-h1{
   width: 100%;
   text-align: center;
    font-size: 45px;
    font-weight: 500;
    color: black;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.contact-container-h2{
    width: 80%;
    margin: 0px auto;
    text-align: center;
     font-size: 35px;
     font-weight: 200;
     color: rgba(20, 20, 21, 0.822) !important;
     font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
 }
 .contact-form{
    max-width: 800px !important;
    margin: 100px auto 0px !important;
    
    border: 1px solid #000;
    padding: 50px !important;
    display: flex;
    justify-content: start !important;
    align-items: start !important;
    flex-direction: column;
    gap: 20px !important;
 }
 .contact-form h1{
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .form-grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
 }
 .form-grid input{
    min-width: 200px;
    border: 1px solid rgba(194, 194, 194, 0.673);
    border-radius: 2px;
    color: black;
   


 }
 input::placeholder{
    color: rgba(194, 194, 194, 0.673);
 }

 .contact-form input{
   width: 100%;
    padding: 10px;
    border: 1px solid rgba(194, 194, 194, 0.673);
    border-radius: 2px;
    color: black
 }

 .btn-contact{
    border:  1px solid #03a9fc;
    height: 40px;
    width: 140px;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 300; 
    background-color:#03a9fc ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
 }
 .Footer {
    width: 100vw;
    /* background-color: #f8f9fa;
     */
    background-color: #303030;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
 
 }
 .grid-container{
   width: 90%;
    margin: auto;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: auto auto ;
    border-bottom: 2px solid  rgb(163, 160, 160);


 }
 .footer-logo{
    width: 100%;
 
 }
 .componets{
   width: 100%;
   
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: row;
}
.mini-components{
    width:75%;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
}

.componet-items{
    width:25%;
    
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
 }
 .componet-items-btn{
    width:25%;
    
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
 }
 .componet-items-btn h3{
   
    font-weight: 200;
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
 }
 .componet-items h3{
   
    font-weight: 200;
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
 }
 .componet-items ul li{

    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
 }
 .componet-items ul li a{
    
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: rgb(163, 160, 160);
    text-align: start;
    font-weight: 100;

 }
 .componet-items-btn ul li{

    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-align: start;
    margin-bottom: 10px;
 }
 .componet-items-btn ul li a{
    
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: rgb(163, 160, 160);
    text-align: start;
    font-weight: 100;

 }

 .mb-14{
    margin-bottom: 14px;
}
.plece-self-end{
    place-self: end;
}


 .footer-media-container{
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
 }
 .footer-copyright{
    color : rgb(163, 160, 160);
    font-size: 14px;
    font-weight: 200;
    text-align: start;
    
 }
 .footer-media-link{
    color : rgb(163, 160, 160);
    font-size: 14px;
    font-weight: 200;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
 }
 .footer-media-link h4{
    font-weight: 100;
 }
 .footer-media-link a {
    background-color: #4b4b4b ;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
 }
 .footer-media-link a img{
    background-color: #4b4b4b ;
    width: 24px ;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;

    
 }
 .btn-login-footer{
    display: block;
    border:  1px solid #03a9fc;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: #03a9fc;
    padding: 8px 10px;
    font-size: 18px;
    font-weight:100; 
    background-color: #fff;
}

.btn-register-footer{
    display: block;
    border:  1px solid #03a9fc;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: #fff;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 100; 
    background-color:#03a9fc ;
}

 .br{
    background-color: #f4f4f4;
    height: 100px ;
    width: 100vw;
 }

 #success-message{
      display: none;
     margin-top: 20px;
     color: green;
 }
 @media screen and (max-width: 1380px) {
    .community-card-container{

        height: fit-content;
       display: grid;
       justify-content: center;
       grid-template-columns: auto auto auto;
        align-items: center;
        padding-top: 100px;
        gap: 10px;  
    }
    .community-card{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;  
        
        gap: 0;
    }
    .community-card-content{

        height: 140px;
        padding: 10px;
       
        margin: 0%;
    }
    .community-card-content h2{
       font-size: 20px;
    }
    .community-card-content p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: rgb(108, 106, 106);
        font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .community-card img{
        width: 100%;
        height: 240px;
        object-fit: cover;
    }
    .hero-text h1{
        font-size: 40px;
      
    }
    .features-container-h1{
      
        font-size: 40px;
        font-weight: 500;
     
    }
    .Social-media-container-h1{
     
        font-size: 40px;
     
    }
    .Social-media-container-h2{
      
         font-size: 30px;
       
     }
     .community-container-h1{

        font-size: 40px;
        
    }
    .community-container-h2{
        width: 90%;
      
         font-size: 30px;
        
     }
 
    .contact-container-h1{
    
        font-size: 40px;
     
    }
    .contact-container-h2{
        width: 90%;
      
         font-size: 30px;
       
     }
 }
 @media screen and (max-width: 880px) {
    .nav-main{
        z-index: 50;
        width: 100vw !important;
        height: 70px !important;
        background-color: #fff;
        position: fixed   ;
        top: 0;
        left: 0;
    
    }
   
.nav-containter{
    max-width: 1800px !important;
    padding: 12px 10px !important;
    
}
    .menu{
        display: none !important;

    }
    .btn-toggle{
        display: block !important;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: transparent;
        border: none !important;
        cursor: pointer;
    }
    .btn-register{
        display: none;
    }
    .btn-login{
        display: none;
    }

    .hero-bg-images{
        margin-top: 0px;
        width: 100vw !important;
        background-image: url("../assests/bg.jpg");
        background-size: cover;
        background-position: center;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     
        color: #fff;
        text-align: center;
        position: relative;
        z-index: 1;
    
    }
 
    .hero-text{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 30px;
    }
    .hero-text h1{
        font-size: 35px;
        padding: 10px;
        font-weight: 300;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .btn-hero{
    
        border:  1px solid #03a9fc;
        margin-top: 20px;
        height: 50px;
        width: 180px;
        border-radius: 5px;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 100; 
        background-color:#03a9fc ;
    }
    .features-container{
        max-width: 1800px !important;
        padding: 10px 20px !important;
        background-color: #fff;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        
    }
    .features-container-h1{
        max-width: 600px;
        margin: 20px 0px;
        font-size: 35px;
        font-weight: 500;
        color: black;
        font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .feature-card{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
    
    }
    .feature-card h2{
        font-size: 18px;
       
    }
    .feature-card p{
        font-size: 14px;
       
    }
    .btn-feature{
        border:  1px solid #03a9fc;
        height: 32px;
        width: 100px;
        border-radius: 5px;
        color: #fff;
        padding: 10px 20px;
        font-size: 10px;
        font-weight: 300; 
        background-color:#03a9fc ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .Social-media-container{
       
        padding: 30px 10px !important;
        background-color: #fff;
      
    }
    .Social-media-container-h1{
     
        font-size: 35px;
     
    }
    .Social-media-container-h2{
      
         font-size: 25px;
       
     }
    .Social-media-card-container{
        width: 100;
        height: fit-content;
       display: flex;
       justify-content: center;
       flex-direction: column-reverse;
        align-items: center;
        padding-top: 40px;
        gap: 10px;  
    }
    .Social-media-card-container-left{
        width: 90%;
        display: flex;
        justify-content: center;
    flex-direction: column;
        align-items: center;
        flex-direction: column;
    }
    .Social-media-card{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;  
    }
    .Social-media-card h2{
        font-size: 18px;
        
    }
    .Social-media-card p{
        font-size: 14px;
        
    }
    
    .Social-media-card-container-right{
        width: 90%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: fill;
    
    }
    .Social-media-card-container-right img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .community-container{
        max-width: 1800px !important;
        padding: 30px 10px !important;
        
    }
    .community-container-h1{

        font-size: 35px;
        
    }
    .community-container-h2{
        width: 90%;
      
         font-size: 30px;
        
     }
    .community-card-container{
        width: 100;
        height: fit-content;
       display: grid;
       justify-content: center;
       grid-template-columns: auto auto auto;
        align-items: center;
        padding-top: 50px;
        gap: 20px;  
        padding-left: 2px;
        padding-right: 2px;
    }

    .community-card-content{
        padding: 10px;
        margin: 0%;
    }
    .community-card-content h2{
        font-size: 18px;
      
    }
    .community-card-content p{
        font-size: 14px;
      
    }
    
    .community-card img{
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    .contact-container{
        padding: 30px 10px !important;
   
    }
    .contact-container-h1{
    
        font-size: 35px;
     
    }
    .contact-container-h2{
        width: 90%;
      
         font-size: 30px;
       
     }
     .contact-form{
        max-width: 800px !important;
      
        margin: 20px auto 0px !important;
        
      
        padding: 10px !important;
       
     }
     .contact-form h2{
        font-size: 18px;
       
     }
     .form-grid{
        width: 100%;
        display: grid;
        grid-template-columns: auto ;
        gap: 20px;
     }
     .form-grid input{
        width: 100%;
        border: 1px solid rgba(194, 194, 194, 0.673);
        border-radius: 2px;
        color: black;
       
    
    
     }
     input::placeholder{
        color: rgba(194, 194, 194, 0.673);
     }
    
     .contact-form input{
        width: 90%;
        padding: 10px;
        border: 1px solid rgba(194, 194, 194, 0.673);
        border-radius: 2px;
        color: black
     }
    
     .btn-contact{
        border:  1px solid #03a9fc;
        height: 40px;
        width: 140px;
        border-radius: 5px;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
     }
  
     .componets{
        width: 100%;
        
         display: flex;
         justify-content: end;
         align-items: start;
         flex-direction: column;
         gap: 20px;
     }
     .mini-components{
         width:100%;
         gap: 10px;
         display: flex;
         justify-content: space-between;
         align-items: start;
         flex-direction: row;
     }
     
     .componet-items{
         width:100%;
         
         display: flex;
         justify-content: start;
         align-items: start;
         flex-direction: column;
      }
      .componet-items-btn{
        width:100%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
     }
     .componet-items h3{
   
        font-weight: 200;
        color: #fff;
        text-align: start;
        margin-bottom: 10px;
        font-size: 14px;
     }
     .componet-items ul li{
    
        list-style-type: none;
        list-style: none;
        text-decoration: none;
        color: #fff;
        text-align: start;
        margin-bottom: 10px;
        font-size: 12px;
     }
     .componet-items ul li a{
        
        list-style-type: none;
        list-style: none;
        text-decoration: none;
        color: rgb(163, 160, 160);
        text-align: start;
        font-weight: 100;
    
     }
     .footer-logo img{
        width: 100px;
        
     
     }
     .br{
        background-color: #f4f4f4;
        height: 60px ;
        width: 100vw;
     }
  
     
  }
  @media screen and (max-width: 680px) {
    .br{
        background-color: #f4f4f4;
        height: 40px ;
        width: 100vw;
     }
    .hero-bg-images{
        margin-top: 0px;
        width: 100vw !important;
        background-image: url("../assests/bg.jpg");
        background-size: cover;
        background-position: center;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     
        color: #fff;
        text-align: center;
        position: relative;
        z-index: 1;
    
    } 
    .feature-card-container{
        max-width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: auto ;
        gap: 70px;
        margin: 40px 0px;
    }
    .hero-text h1{
        font-size: 30px;
      
    }
    .features-container-h1{
      
        font-size: 20px;
        font-weight: 500;
     
    }
    .Social-media-container-h1{
     
        font-size: 30px;
     
    }
    .Social-media-container-h2{
      
         font-size: 20px;
       
     }
     .community-container-h1{

        font-size: 30px;
        
    }
    .community-container-h2{
        width: 90%;
      
         font-size: 25px;
        
     }
     .community-card-container{
        width: 100;
        height: fit-content;
       display: grid;
       justify-content: center;
       grid-template-columns: auto auto;
        align-items: center;
        padding-top: 50px;
        gap: 20px;  
        padding-left: 2px;
        padding-right: 2px;
    }
    .contact-container-h1{
    
        font-size: 30px;
     
    }
    .contact-container-h2{
        width: 90%;
      
         font-size: 25px;
       
     }
     .btn-login-footer{
        display: block;
        border:  1px solid #03a9fc;
        height: 36px;
        width: 120px;
        border-radius: 5px;
        color: #03a9fc;
        padding: 6px 8px;
        font-size: 16px;
        font-weight:300; 
        background-color: #fff;
    }
    
    .btn-register-footer{
        display: block;
        border:  1px solid #03a9fc;
        height: 36px;
        width: 120px;
        border-radius: 5px;
        color: #fff;
        padding: 6px 8px;
        font-size: 16px;
        font-weight: 300; 
        background-color:#03a9fc ;
    }
  }
  @media screen and (max-width: 580px) {

    .hero-text h1{
        font-size: 25px;
      
    }
    .features-container-h1{
      
        font-size: 25px;
        font-weight: 500;
     
    }
    .Social-media-container-h1{
     
        font-size: 25px;
     
    }
    .Social-media-container-h2{
      
         font-size: 15px;
       
     }
     .community-container-h1{

        font-size: 25px;
        
    }
    .community-container-h2{
        width: 90%;
      
         font-size: 15px;
        
     }
     .community-card-container{
        max-width: 300px;
        height: fit-content;
       display: grid;
       justify-content: center;
       grid-template-columns: auto;
        align-items: center;
        padding-top: 50px;
        gap: 20px;  
        padding-left: 2px;
        padding-right: 2px;
    }
    .contact-container-h1{
    
        font-size: 25px;
     
    }
    .contact-container-h2{
        width: 90%;
      
         font-size: 15px;
       
     }
     .grid-container{
        width: 90%;
         margin: auto;
         padding: 50px 0px;
         display: grid;
         grid-template-columns: auto  ;
         border-bottom: 2px solid  rgb(163, 160, 160);
         gap: 10px;
     
     
      }
  }